/**
 *  These are styles for all kind of buttons user across the application.
 *
 *  @author     Paweł Kuźnik <pawel.kuznik@gmail.com>
 */

button,
.button
{
    border:         0;

    background:     var(--color-font);
    color:          var(--color-background);

    cursor:         pointer;

    box-sizing:     border-box;

    padding-right:  .5rem;

    padding-top:    .25rem;
    padding-bottom: .25rem;

    box-shadow:     0 0 1px var(--color-font);
}

button:hover,
.button:hover
{
    background-image:   repeating-linear-gradient(45deg, transparent 0, transparent 6px, var(--color-hover) 8px, var(--color-hover) 8px);
}
