/**
 *  Styles for inputs used inside the whole application.
 */

/* basic styles for the inptus */
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select
{
    background:     transparent;

    border:         1px solid var(--color-input-border);
    color:          var(--color-font);

    font-family:    inherit;

    transition:     border-color .4s;
}

/* styles for when the element is focused */
input:focus,
textarea:focus,
select:focus
{
    outline:        none;

    border-color:   var(--color-font);
}

select:active option
{
    background:     var(--color-background);
    color:          var(--color-font);
}

select:active option:checked
{
    color:          var(--color-mark);;
}
