<header>
    <h1>Composition rule</h1>
    <p>Describe what is a composition rule</p>
    <div>
        <button class="button-store">Store</button>
        <button class="bytton-remove">Remove</button>
    </div>
</header>
<div class="formrow">
    <label>Model</label>
    <select name="model"></select>
</div>
<div class="formrow">
    <label>Model count</label>
    <input type="number" min="1" name="count">
</div>
<div class="formrow">
    <label>Power rating</label>
    <input type="number" min="0" name="powerRating">
</div>
<label class="formrow">
    <input type="checkbox" name="base">
    <span>This is a base model</span>
</label>
