/**
 *  Styles for the HTML element and the :root selector.
 */

/* reset HTML element */
html
{
    margin:         0;
    padding:        0;

    background:     #262525;
    color:          #E3E3E6;

    font-family:    "Inconsolata", monospace;
}

body > main
{
    max-width:      60em;
    margin-left:    auto;
    margin-right:   auto;
}

/* set colors used across the application */
:root
{
    --color-font:       #E3E3E6;
    --color-background: #262525;
    --color-mark:       hsla(-5, 93%, 57%, 0.8);
    --color-hover:      rgba(227, 227, 230, .4);
    --color-input-border: rgba(212, 212, 217, 0.6);
}
