/**
 *  The styles for the modal.
 */

.modal
{
    display:        none;
    
    background:     var(--color-background);
    color:          var(--color-font);

    width:          95%;

    margin-left:    auto;
    margin-right:   auto;

    border:         1px solid var(--color-font);

    transition:     top .2s;

    top:            -100%;
}

.modal.shown
{
    display:        block;

    top:            1rem;
}

.modalmanager
{
    position:       fixed;

    top:            0;
    bottom:         0;
    left:           0;
    right:          0;

    background:     rgba(50, 50, 50, .2);
}

.modal.prompt
{
    padding:        2em 3em;

    box-sizing:     border-box;
    border:         1px solid rgba(255, 255, 255, .6);

    margin-top:     5rem;
    margin-bottom:  5rem;

    max-height:     calc(100vh - 10rem);

    max-width:      40rem;
    margin-left:    auto;
    margin-right:   auto;
}

.modalblur
{
    filter: blur(4px);
}

body > main
{
    transition: filter .2s;
}
